*.log
.gdb_history
.idea/
.env
/build/
/.kotlin/metadata/
/.gradle/9.2.1/checksums/
/.gradle/9.2.1/executionHistory/
/.gradle/file-system.probe
*.lock
*.bin


/.android-sdk/

# Tools (binaries built from ASTDistance project)
/tools/ast_distance
